#
#
#
# Sample Perl VTK Config file for RedHat
#   Copy this file to VTK.config and modify for your installation
#    (Tested on Redhat 7.1)

# Comment this out if not using mesa. (Win32 definitely, Linux probably not, others?)
$CCFLAGS = " -DUSE_MESA";  

%vtkConfigMacro = (
    'CC' => 'c++',
    'LIBS' => ['-L/usr/lib -lVTKCommon -lVTKGraphics -lVTKPatented -lVTKImaging -lVTKContrib -lpthread -L/usr/X11R6/lib -lGL -ldl -lXext -lXt -lSM -lICE -lX11 -lm'],

# INC should contain the paths to your VTK include files
    'INC' => '-I/home/cerney/vtk/vtk3.2/common -I/home/cerney/vtk/vtk3.2/graphics -I/home/cerney/vtk/vtk3.2/imaging -I/home/cerney/vtk/vtk3.2/patented -I/home/cerney/vtk/vtk3.2/contrib'
);
